<div class="container">
  <div class="row">
    @for (workout of workouts; track $index) {
      <div class="col-12 col-md-6 mt-4" (click)="selectWorkout(workout)">
        <main-card
          [name]="workout?.name || ''"
          [calories]="workout?.calories || null"
          [duration]="workout?.duration || ''"
          [imageUrl]="workout?.imageUrl || ''"
        />
      </div>
    }
  </div>
</div>

<workout-dialog
  *ngIf="isModalOpen"
  [workout]="selectedWorkout"
  (closeModalEvent)="closeModal()"
></workout-dialog>
